*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 15vh;


    .btnAdote {
        background-color: #F97415;
        color: #FFFFFF;
        padding: 1rem;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;

    }
}

.banner {


    article {
        display: flex;
        justify-content: space-evenly;
        height: 50vh;

        .infoPet {
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            #nomeDoPet {
                color: #F97415;
                font-size: 3.75rem;
            }

            #descricao {
                font-size: 1.5rem;
            }

            #fotoGrande {
                width: 60%;
            }
        }
    }
}